@import 'reset.css';

body {
    background-image: linear-gradient(to right top, #051937, #5c2a5b, #ae3e56, #d87632, #c6c31d);
    font-family: 'Eudoxus Sans', 'serif', 'sans-serif';
    font-size: 14px;
    color: #fff;
}

a {
    color: #fff;
    cursor: pointer;
}
